<div>
    <h3>OPC UA Connection Tester</h3>
    
    <label for="endpoint">Endpoint URL:</label>
    <input type="text" id="endpoint" placeholder="opc.tcp://localhost:4840" ng-model="msg.payload.endpoint"><br><br>

    <label for="securityPolicy">Security Policy:</label>
    <select id="securityPolicy" ng-model="msg.payload.securityPolicy">
        <option value="None">None</option>
        <option value="Basic128Rsa15">Basic128Rsa15</option>
        <option value="Basic256">Basic256</option>
        <option value="Basic256Sha256">Basic256Sha256</option>
    </select><br><br>

    <label for="securityMode">Security Mode:</label>
    <select id="securityMode" ng-model="msg.payload.securityMode">
        <option value="None">None</option>
        <option value="Sign">Sign</option>
        <option value="SignAndEncrypt">Sign & Encrypt</option>
    </select><br><br>

    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="msg.payload.username"><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="msg.payload.password"><br><br>

    <button ng-click="send({payload: msg.payload})">Test Connection</button>

    <div ng-if="msg.payload.status">
        <h4>Connection Status: {{ msg.payload.status }}</h4>
        <p>{{ msg.payload.message }}</p>
    </div>
</div>
